body {
    background: linear-gradient(30deg, rgb(77,77,77), rgb(58, 58, 58));
    color: rgb(71, 71, 71);
}

header {
    position: static;
}

#page-logo a {
    color: rgb(183, 230, 235);
}

header nav a {
    color: rgb(183, 230, 235);
}

header nav a:hover {
    background-color: rgb(166, 249, 249);
    color: rgb(71, 71, 71);
}

main li img {
    width: 300px;
    height: 280px;
    object-fit: cover;
}

main ul {
    width: 1200px;
    margin: 0 auto 48px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 30px;
}

main li {
    display: flex;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    /* width: 600px; */
    margin: 0 auto;
}

main li:nth-of-type(3) {
    grid-column: 1 / span 2;
    /* width: 100%; */
}

.actions {
    text-align: right;
}

.actions a {
    text-decoration: none;
    color: rgb(7, 180, 180);
    border-radius: 4px;
    padding: 5px;
}

.actions a:hover {
    background-color: rgb(166, 249, 249);
}

.item-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-content h2 {
    margin: 0;
}